<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <!-- 네이버 지도 현재 위치 권한 여부 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 쏭페이 콘테스트 녹음 권한 여부 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MusicPlayerActivity"></activity>
        <activity android:name=".RecommendationActivity" />
        <activity android:name=".RecordActivity" />
        <activity android:name=".ReserveActivity" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="b6wqcy0uvf" />

        <activity android:name=".ScanQrActivity" />
        <activity android:name=".AwardActivity" />
        <activity android:name=".FindActivity" />
        <activity android:name=".PointChargeActivity" />
        <activity android:name=".CurrentMoneyActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>